.build/
.swiftpm/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspacedata
!Project.xcworkspace/contents.xcworkspacedata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Android/.gradle/
Android/build/
.DS_Store
Thumbs.db
build/
